/* брейкпоинты */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1366px;

/* переменные шрифтов */
$primary-font: "Alumni", "Arial", sans-serif;
$secondary-font: "Roboto", "Arial", sans-serif;

/* переменные цветов */

$primary-color: #102654;
$secondary-color: #103aae;
$basic-light-color: #ffffff;

$button-lighter-color: #1c3374;
$tabs-color: #d10a42;

$primary-background-color: #ffffff;
$darker-background-color: #f8f9fc;
$banner-background-color: #ed0233;
$footer-background-color: #030a1a;
$secondary-background-color: #102654;
$lighter-secondary-color: #1c3374;

$error-color: #ff121f;
$shadow-color: #e8e8e8;
